body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #333;
    font-size: 1rem;
    line-height: 1.6em;
    margin: 0;
}
h1{
    font-size: 2rem;
    line-height: 1.3em;
}
p{
    text-align: left;
    color: #6D7B93;
    margin-bottom: 1.6em;
}
.container a.button{
    text-decoration: none;
    background: #0D94E5;
    color:white;
    font-size: 1.2em;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2)
}
.header a.button{
    background: #0D94E5;
    color:white;
    font-size: 1.2em;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2)
}
.container{
    width:90%;
    max-width: 850px;
    margin: 0 auto;
}
.header{
    background: linear-gradient(to left,#E6F4FC, #E6F4FC, white 50%, white 100%);
    color: #6D7B93;
    padding: 2rem 0;
    
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    
}
.header a.logo{
    color: #2949C7;
    letter-spacing: 5px;
    font-size: 1.5em;
}
.header a{
    color: #6D7B93;
    text-decoration: none;
}
.logo{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.logo-nav-container{
    display: flex;
    justify-content: space-between;/* Logra gracias a flex, uno a la izquierda y otro a la derecha*/
    align-items: center;
    flex-wrap: wrap;
}
.menu-icon{
display: none;
}
.navigation ul{
   margin: 0;
   padding: 0;
   list-style: none;
}
.navigation ul li{
    display: inline-block;
}
.navigation ul li a {
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 10px;
}
.header nav.navigation ul li a:hover {
    background: #263c6d52;
}

.main{
    padding: 10rem;
}
.titulo-datos{
    text-align: justify;
    width: 50%;
    color: #1F3E72;
}
.titulo-datos p{
    text-align:justify;
    color: #6D7B93;
    margin-bottom: 1.2em;
}
.imagenes-png{
    width: 50%;
    background-image:linear-gradient(#0D94E5, #0D94E5, white 70%, white 100%);/* #0051ff */
    display: flex;
}
.superior{
    background: rgba(255, 255, 255, 0.5);
    z-index: 1;
}
.espaciados-chidos{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
/*---------------------------Card--------------------------*/
.tarjeta{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    width:24%;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius:15px;
    font-family: sans-serif;
}
.tarjet2{
    display:flex;
    flex-direction:row;
    width:45%;
    border: 1px solid lightgray;
    box-shadow: 4px 8px 2px 2px #d3d3d3d1;
    border-radius:15px;
    font-family: sans-serif;
}
.tarjet3{
    display:flex;
    flex-direction:row;
    width:100%;
    border: 1px solid lightgray;
    box-shadow: 4px 8px 2px 2px #d3d3d3d1;
    border-radius:15px;
    font-family: sans-serif;
}
.titulo{
    font-size: 20px;
    padding: 10px 10px 0 10px;
    text-align:justify;
    color: #1F3E72;
}
.titulo p{
    font-size: 1rem;
    text-align:justify;
    color: #6D7B93;
}
.cuerpo{
    font-size: 0.7rem;
    padding: 10px;
    text-align:justify;
    color: #6D7B93;
}
.pie{
    background: #6699ff;
    border-radius:0 0 15px 15px;
    padding: 10px;
    text-align:center;

}
.pie a{
    text-decoration: none;
    color: white;
    }
.pie a:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: ""
    }
/*---------------------------------------------------------*/


/*------------------------Acordeon--------------------------*/
.acordeon input{
    display: none;
}
.acordeon-titulo{
    display: block;
    cursor: pointer;
}
.acordeon-contenido{
    height: 0;
    overflow: hidden;
    margin-left: 2px;
}
.acordeon input:checked ~ .acordeon-contenido{
    height: auto;
}
/*----------------------------------------------------------*/
.footer{
    background: #E6F4FC;
    padding: 4rem 0;
    text-align: center;
    color: #2949C7;
    margin-top: 6rem;
}

.footer a.logo{
    color: #2949C7;
    letter-spacing: 5px;
    font-size: 1.5em;
}
.footer a{
    color: #6D7B93;
    text-decoration: none;
}

@media only screen and(max-width: 700px) {
    .menu-icon{
        display:block;
        cursor: pointer;
        }
    .navigation{
        width: 100%;
        margin-top: 1rem;
    }
    .navigation ul{
        display: none;
    }
    .navigation ul.show{
        display: block;
    }
     .navigation ul li{
         display: block;
     }
     .navigation ul li a {
         display: block;
         padding: 0.5rem 0;
         transition: all 0.4s linear;
         border-radius: 10px;
     }
     .navigation ul li a:hover {
         background: #263c6d52;
     }
     
     .main{
         padding: 10rem;
     }
}