body {
    margin: 0;
    background-image: url("../imagenes/fondo1.jpeg");
    background-size: 100% 100%;
}
.header{
    padding: 2rem 0;
    
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    
}
.header img{
    width: 35%;
}

.container{
    width:90%;
    max-width: 850px;
    margin: 0 auto;
}
.main{
    padding: 10rem;
}

/*--------------------------------------------------------------------------------------------------*/
/*                                      Diseño pokedex                                              */
/*--------------------------------------------------------------------------------------------------*/


/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/